/* Full page layout */
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #7e6598,
    #5095cd
  );

  padding: 20px;
}

/* Login card */
.login-card {
  width: 100%;
  max-width: 400px;
  height: 70%;
  background: #040717;
  padding: 40px;
  border-radius: 50px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 40px
    rgba(0, 0, 0, 0.15);
  line-height: 30px;
  text-align: center;
}

.login-card::befo
/* Heading */
.login-card h1 {
  margin-bottom: 10px;
  color: #5095cd;
}

.subtitle {
  color: #fafcfe;
  margin-bottom: 30px;
}

/* Form group */
.form-group {
    border: 2px solid #5095cd;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #fbfcfe;
}

/* Inputs */
.form-group input,
.form-group select {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  
  font-size: 16px;
  outline: none;

  transition: 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px
    rgba(79, 70, 229, 0.15);
}

/* Button */
.login-btn {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 8px;

  background: #5095cd;
  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #4338ca;
  transform: translateY(-2px);
}